<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Generic title{% endblock title %}</title>

        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/icon.png')}}">
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/icon.svg')}}">

        <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
    </head>

    <body>
        {% include "partials/header.html" %}

        {% block content %}
        {% endblock %}

        {% include 'partials/footer.html' %}

    </body>

</html>
