{% for post in posts.items %}
    <article class='card'>
        <div class='article-metadata'>
            <p class='m'>{{post.content_type.name}}</p>
            <p class='m'>{{post.created.strftime("%B %d, %Y")}}</p>
        </div>
        <h2>{{post.title}}</h2>
        <div class="bar"></div>
        <p>{{post.excerpt}}</p>
        <div class="article-button">
            <a href="{{url_for('blueprint.posts', slug=post.slug)}}" class="button">Read</a>
        </div>
    </article>
{% endfor %}
