<header class="container">
    <a class="logo" href="{{ local_url('index') }}">
        <img class="logo-img" src="{{url_for('static', filename='img/logo.svg')}}"></img>
    </a>

    <div class="nav-container">
        <button class="nav-toggle" aria-expanded="false" aria-controls="primary-navigation">
            <span class="hamburger"></span>
        </button>
        <nav class="primary-navigation" id="primary-navigation" data-visible="false">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="{{ local_url('about') }}">{{ _('About') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ local_url('contact') }}">{{ _('Contact') }}</a>
                 </li>
            </ul>
        </nav>
    </div>
</header>
