<div class="widget sub">
    <div class="sub-content">
        <h3>Join the Community</h3>
        <p>Receive a notification whena new post is published every week!</p>
    </div>
    <form action="/subscribe" method="POST" class="sub-form">
        <input 
            type="email" 
            name="email" 
            placeholder="Enter your email address" 
            required
            aria-label="Email Address"
        >
        <button class="button"type="submit">Subscribe Now</button>
    </form>
</div>
