<div class="widget sub">
    <div class="sub-content">
        <h3>{{ _('Never miss a post') }}</h3>
        <p>{{ _('Receive a notification when new post is published every week!') }}</p>
    </div>
    <form action="{{ local_url('subscribe') }}" method="POST" class="sub-form">
        <input 
            type="email" 
            name="email" 
            placeholder="{{ _('Enter your email address') }}" 
            required
            aria-label="Email Address"
        >
        <button class="button"type="submit">{{ _('Let me know!') }}</button>
    </form>
</div>
