{% extends "partials/content.html" %}

{% block title %}
    Dialogues
{% endblock %}

{% block aside %}
    <h1 class="logo" >Human<br>Dialogues</h1>

    <p>A blog on human experience</p>
    <a href="" class="button">Versión en Español</a>
    <div class="bar"></div>
    <nav class="category-filters" aria-label="Blog categories">
        <ul class="category-menu">
                <li>
                    <button class="category-item active" data-category="all">All</button>
                </li>
                <li>
                    <button class="category-item" data-category="post">Post</button>
                </li>
                <li>
                    <button class="category-item" data-category="poem">Poem</button>
                </li>
                <li>
                    <button class="category-item" data-category="story">Story</button>
                </li>
        </ul>
    </nav>
</aside>
{% endblock %}

{% block main %}
    <div class='blog-container'>
        {% for post in posts %}
            <article class='card'>
                <div class='article-metadata'>
                    <p class='m'>{{post.content_type.name}}</p>
                    <p class='m'>{{post.created.strftime("%B %d, %Y")}}</p>
                </div>
                <h2>{{post.title}}</h2>
                <div class="bar"></div>
                <p>{{post.excerpt}}</p>
                <div class="article-button">
                    <a href="{{url_for('blueprint.posts', slug=post.slug)}}" class="button">Read</a>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}
