{% extends "partials/content.html" %}

{% block title %}
    Dialogues
{% endblock %}

{% block aside %}
    <h1 class="logo" >Human<br>Dialogues</h1>

    <p>A blog on human experience</p>
    <a href="" class="button">Versión en Español</a>
    <div class="bar"></div>
    <nav class="category-filters" aria-label="Blog categories">
        <ul class="button-menu">
                <li>
                    <button class="button-item focused" data-type="all">All</button>
                </li>
                <li>
                    <button class="button-item" data-type="post">Post</button>
                </li>
                <li>
                    <button class="button-item" data-type="poem">Poem</button>
                </li>
                <li>
                    <button class="button-item" data-type="story">Story</button>
                </li>
        </ul>
    </nav>
</aside>
{% endblock %}

{% block main %}
    <div class='blog-container'>
        {% include "partials/cards.html"%}
    </div>
{% endblock %}
