{% extends "content.html" %}

{% block title %}
    Dialogues
{% endblock %}

{% block aside %}
    <h1 class="logo" >Human<br>Dialogues</h1>

    <p>A blog on human experience</p>
    <a class="button">Versión en Español</a>
    <div class="bar"></div>
    <nav class="category-filters" aria-label="Blog categories">
        <ul class="category-menu">
                <li>
                    <button class="category-item active" data-category="all">All</button>
                </li>
                <li>
                    <button class="category-item" data-category="post">Post</button>
                </li>
                <li>
                    <button class="category-item" data-category="poem">Poem</button>
                </li>
                <li>
                    <button class="category-item" data-category="story">Story</button>
                </li>
        </ul>
    </nav>
</aside>
{% endblock %}

{% block main %}
    <div class='blog-container'>
        <article class='card'>
            <div class='article-metadata'>
                <p class='m'>type</p>
                <p class='m'>August 16, 2025</p>
            </div>
            <h2>Post title</h2>
            <div class="bar"></div>
            <p>Post description</p>
        </article>
        <article class='card'>
            <div class='article-metadata'>
                <p class='m'>type</p>
                <p class='m'>August 16, 2025</p>
            </div>
            <h2>Post title</h2>
            <div class="bar"></div>
            <p>Post description</p>
        </article>
        <article class='card'>
            <div class='article-metadata'>
                <p class='m'>type</p>
                <p class='m'>August 16, 2025</p>
            </div>
            <h2>Post title</h2>
            <div class="bar"></div>
            <p>Post description</p>
        </article>
        <article class='card'>
            <div class='article-metadata'>
                <p class='m'>type</p>
                <p class='m'>August 16, 2025</p>
            </div>
            <h2>Post title</h2>
            <div class="bar"></div>
            <p>Post description</p>
        </article>
    </div>
{% endblock %}



